
@font-face {
  font-family: WhitneyHTF-Black;
  src: url('./fonts/WhitneyHTF-Black.otf');
}

@font-face {
  font-family: WhitneyHTF-BlackItalic;
  src: url('./fonts/WhitneyHTF-BlackItalic.otf');
}

@font-face {
  font-family: WhitneyHTF-BlackItalicSc;
  src: url('./fonts/WhitneyHTF-BlackItalicSC.otf');
}

@font-face {
  font-family: WhitneyHTF-BlackSC;
  src: url('./fonts/WhitneyHTF-BlackSC.otf');
}

@font-face {
  font-family: whitneyhtf-bolditalic-webfont;
  src: url('./fonts/whitneyhtf-bolditalic-webfont.ttf');
}

@font-face {
  font-family: WhitneyHTF-Bold;
  src: url('./fonts/WhitneyHTF-Bold.ttf');
}

@font-face {
  font-family: WhitneyHTF-Book;
  src: url('./fonts/WhitneyHTF-Book.ttf');
}

@font-face {
  font-family: WhitneyHTF-Light;
  src: url('./fonts/WhitneyHTF-Light.ttf');
}

@font-face {
  font-family: WhitneyHTF-Medium;
  src: url('./fonts/WhitneyHTF-Medium.ttf');
}

@font-face {
  font-family: WhitneyHTF-SemiBold;
  src: url('./fonts/WhitneyHTF-SemiBold.ttf');
}

@font-face {
  font-family: GoogleSans-Medium;
  src: url('./fonts/GoogleSans-Medium.ttf');
}

@font-face {
  font-family: GoogleSans-Bold;
  src: url('./fonts/GoogleSans-Bold.ttf');
}


html,
body {
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  min-width: 300px;
}
::-webkit-scrollbar {
  width: 0px;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
}

.flex-left {
  display: inline-block;

}



@media only screen and (max-width: 959px) {
  .table {
    min-width: 675px;
    overflow: auto;
  }
  .table-wrapper {
    overflow: auto;
  }
  .home-cards {
    overflow: auto;
  }
  .sidebar {
    /* display: none; */
    margin-left: -300px;

  }
  .content-body {
    width: 100%;
    margin-left: 0%;
    
  }

  /* .carousel-login {
    max-width: 100% !important;
    flex-basis: 100% !important;
  } */
}

@media only screen and (min-width: 960px) {
  .content-body {
    width: 83.333333%;
    margin-left: 16.66666667%;
  }
}

@media only screen and (min-width: 1023){
  .carousel-highlite{
    font-size: 24px;
  }
}
@media only screen and (max-width: 1028px) {
  /* .carousel-grid {
    display: none;
  } */
  .table-wrapper {
    max-width: 100vw;
  }
  .notification-bar-msg {
    padding: 14px 11px !important;
    font-size: 16px;
  } .notifications {
    height: 50px;
  }
  .notifcations-close-icon{
    display: inline-flex;
    position: absolute;
    right: 2px;
    margin-top: 1px;
    height: 50px;
    width: 50px;
    margin-right: 6px !important;

  }
}

@media only screen and (min-width:1440px){
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
  /* for sumo sized (mac) screens */
}
@media only screen and (max-width:480px){
 /* styles for mobile browsers smaller than 480px; (iPhone) */
  .dialog-btn {
    width: 105px !important;
  }
}

.drop-menu {
  font-family: WhitneyHTF-Book;
  position: relative;
  margin-top: 25px;
  margin-right: 30px;
  float: right;
  border-radius: 8px;
  width: 235px;
  max-width: 40%;
  min-width:168px;
  background: #FFFFFF;
  min-height: 80px;
  box-shadow: 0 2px 30px 0 rgba(37,38,94,0.15);
  padding: 15px;
}

.drop-menu:after {
	content: '';
	position: absolute;
	top: 0;
	left: 80%;
	width: 0;
	height: 0;
  border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -15px;
	margin-top: -15px;
}

.drop-menu-list{
  margin-top: 10px;
  margin-left: 10px;
  line-height: 1.4rem;
}

.drop-menu-user {
  margin-bottom: 15px;
  color: #25265E;
  line-height: 1.4rem;
}

.drop-menu-name{
  font-size: 16px;
  color: #25265E;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.drop-menu-role {
  font-size: 14px;
  color: #4E566D;
  letter-spacing: 0.44px;
  margin-left: 10px;
}
.menu-link {
  font-size: 16px;
  color: #0070E0;
  letter-spacing: 0.56px;
  line-height: 34px;  
  text-decoration: none;
}

.settings-form {
  margin: 0px 0px 0px 0px;
}

.drop-menu-list a:hover{
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  display: none;
  width: 150px;
  background-color: #25265E;
  font-family: WhitneyHTF-Medium;
  font-size: 12px !important;
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -70px;
}

.tooltiptext:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #25265E;
	border-bottom: 0;
	margin-left: -5px;
  margin-bottom: -5px;
}

.tooltip:hover .tooltiptext, time:hover .tooltiptext{
  display: block !important;
}
input:-webkit-autofill {
  background: url(https://s3.amazonaws.com/dash-user-dashboard/images/username.svg) !important;
}

.more-options {
  height: 30px;
  width: 32px;
  background: url(./images/icons/MoreOptionGrey.svg) center no-repeat;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 2px;
}

.tooltip:hover .more-options {
  background: url(./images/icons/MoreOptionBlue.svg) center no-repeat;
  border: .6px solid #F2F2F2;
}

.notification-menu {
	position: relative;
  margin-top: 25px;
  margin-right: 155px;
  float: right;
  border-radius: 6px;
  width: 365px;
  max-width: 40%;
  background: #fff;
  min-height: 80px;
  box-shadow: 0 2px 30px 0 rgba(37,38,94,0.15);
}

.notification-menu:after {
	content: '';
	position: absolute;
	top: 0;
	left: 29%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -15px;
	margin-top: -15px;
}

.notification-title {
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: #25265E;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #E2E8EE;
}

.settings-input{
  padding-right: 20px;
}
.settings-select {
  padding-right: 20px;
}

[class*='MuiInput-underline']:after{
  border-bottom: none !important;
  border: none !important;
}


[class*='MuiInput-underline']:before{
  border-bottom: none !important;
  border: none !important;
}

[class*='MuiInput-underline']{
  border-bottom: none !important;
  border: none !important;
}


[class*='MuiInput-underline']:hover:before{
  border-bottom: none !important;
  border: none !important;
}
.notification-item{
  min-height: 120px;
  padding: 10px 30px 0px;
  color: #4E566D;
}

.notification-item:hover{
  background: #F7F8FB;
  color: #25265E;
  font-weight: 250;
}


.notification-item:hover {
  background: #F7F8FB;
  color: #25265E;
  font-weight: 250;
}

hr.notification-hr {
  width: 90%;
  margin: 0 auto;
  border: 0.6px solid #E2E8EE;
}


.notification-avatar{
  display: inline-block; 
}

.notification-text-title{
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: #25265E;
  text-align: left;
  line-height: 24px;
  padding-left: 20px;
  display: inline-block;
  text-transform: capitalize;
}

.notification-text-message{
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: #4E566D;
  text-align: left;
  line-height: 24px;
  padding-left: 20px;
  display: inline-block;
}

.notification-body{
  
}

.float-none{
  float: none !important;
}
.settings-pic-pass {
  padding: 28px 0px 0px 20px;
    background: #F7f8fb;
}
.settings-title {
  padding: 20px;
}
.settings-prof-pic {
  margin-top: -10px !important;
  margin-bottom: 20px !important;
  margin-left: 20px !important;
  background-color: #0070E0 !important;
  font-size: 14px !important;
  height: 85px !important;
  width: 85px !important;
}

.settings-btn {
  background: #0070E0 !important;
  -webkit-box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  border-radius: 4px !important;
  margin-right: 20px !important;
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: capitalize !important;
  float: right;
  height: 44px;
  width: 150px;
}

.sidebar a {
  text-decoration: none;
}

.blur {
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
}
.changepwd-btn {
  margin-left: 10px !important;
  margin-right: 25px !important;
  background: #0070E0 !important;
  -webkit-box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  border-radius: 4px !important;  
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: capitalize !important;
  float: right;
  height: 34px;
  width: 150px;
}
.left-landing {
  background: #61045F;
  height: 100%;
  /* max-height: 850px; */
  min-height: 99vh;
  overflow: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.MuiIconButton-root-068 {
  transition: none !important;
  color: #0070E0 !important;
  background-color: transparent !important;
}

.MuiIconButton-root-068, fill  {
  color: #25265E !important;
}

input,
div,
span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.right-landing {

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 0px;
  height: 100%;
  max-height: 850px;
}

.zero-left-pad {
  padding-left: 0 !important;
}

.sidebar {
  position: fixed;
  width: 16.66666667%;
  padding-top: 64px;
  background: #61045F;
  height: 100vh;
  overflow: auto;
  min-width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.menu-title {
  font-family: WhitneyHTF-Medium;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 20px 10px 0px;
  text-transform: uppercase;

}

.padded-card {
  padding: 24px;
  font-size: .7rem;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  margin: 20px 0px 10px 0px;
  min-width: 1px;
  min-height: 40px;
}

.trans-head {
  font-family: WhitneyHTF-Medium !important;
  font-size: 12px;
  color: #4E566D !important;
  letter-spacing: 0;
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
}

.trans-detail {
  letter-spacing: 0.5px;
  font-size: .8rem;
  color: #25285c;
}

.cashout h2 {
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: #25265E;
  font-weight: normal;
  letter-spacing: 0.67px;
  display: inline-block;
  cursor: pointer;
}

.dialog>div {
  background-color: #25285c36;
  border-radius: 7px;
}

.dialog-content {
  min-width: 300px;
  max-width: 370px;
  background: #f7f8fb;
}

.contactus-highlite {
  font-family: WhitneyHTF-Book;
  font-size: 22px;
  color: #25265E;
  letter-spacing: 0;
  text-align: center;
  padding: 20px 10px;
}

.contactus-actions{
  padding-top: 20px;
  padding-bottom: 20px;
}
.contactus-btn {
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  border-radius: 4px !important;
  font-family: WhitneyHTF-Book !important;
  font-size: 16px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: capitalize !important;
  float: right;
   margin-top: 20px !important;
}

.contactus-btn-callback {
  background: #25265E !important;
  
}
.contactus-btn-msg{
  background: #0070E0 !important;

}

.contactus-info {
  font-family: WhitneyHTF-Book;
  font-size: 16px;
  color: #4E566D;
  letter-spacing: 0;
  text-align: center;
  padding-top: 20px;
}

.contactus-info-status {
  font-family: WhitneyHTF-Book;
  font-size: 16px;
  color: #4E566D;
  letter-spacing: 0;
  text-align: center;
  padding-top: -5px;
}

.r-status-icon {
  height: 50px;
  margin-top: 40px;
}

.contact-us {
  font-family: WhitneyHTF-Book;
  font-size: 8px;
  color: #25265E;
  letter-spacing: 0.5px;
  padding-top: 4px !important;
  
}

.contact-textarea {
  min-height: 180px;
}

.contact-us-content{
  min-width: 300px;
  max-width: 370px;
  background: #f7f8fb;
  max-height: 380px;
  font-size: 1rem;
}
.simple-input::-webkit-input-placeholder {
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: rgba(78,86,109,0.51);
  letter-spacing: 0;
}

.simple-input::-moz-placeholder {
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: rgba(78,86,109,0.51);
  letter-spacing: 0;
}

.simple-input:-moz-placeholder {
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: rgba(78,86,109,0.51);
  letter-spacing: 0;
}

.simple-input::placeholder {
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: rgba(78,86,109,0.51);
  letter-spacing: 0;
}

.dialog-title {
  font-family: WhitneyHTF-Book;
  font-size: 18px;
  color: #25265E;
  letter-spacing: 0;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(78,86,109,0.12);
  text-align: center;
  padding: 20px;
  overflow-y: scroll;
}

.cashout-dialog-title {
  font-family: WhitneyHTF-Book;
  font-size: 18px;
  color: #25265E;
  letter-spacing: 0;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(78,86,109,0.12);
  text-align: center;
  padding: 20px;
  overflow-y: scroll;
}

.cashout-center {
  text-align: center;
  width: 250px;
  margin: auto;

}
.recent-bank-radio {
  display: block;
}

.home-refunds [class*="MuiCard-root"]{
  overflow: visible;
}

.plus-card {
  -webkit-box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  /* margin: 4px; */
  width: 15px;
  padding: 12px;
  height: 15px;
  background: #fff;
}

.add-acc{
  border-radius: 4px;
  font-size: .8rem;
  cursor: pointer;
  margin: 30px 0 10px
}

.checkout-msg {
  font-size: .8rem;
  margin: 20px 0 0px;
}

.dark-pass-vision {
  background-image: url(images/icons/PasswordVisionCashout.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 30px;
  height: 47px;
  margin-top: -42.5px;
  margin-left: 87%;
  opacity: 0.35;
  cursor: pointer;
}

.cashout-name {
  font-family: WhitneyHTF-Book;
  font-size: 26px;
  color: #25265E;
  letter-spacing: 0;
  margin-left: -32.5px;
}

.api-keys-user-name {
  font-family: WhitneyHTF-Book;
  font-size: 20px;
  color: #25265E;
  letter-spacing: 0;
  margin-left: -32.5px;
  /* padding: 8px 0; */
}

.cashout-number {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: #4E566D;
  letter-spacing: 0;
}

.dialog-avatar {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  margin-left: -4px !important;
  background-color: #0070E0 !important;
  font-size: 12px !important;
  height: 45px !important;
  width: 45px !important;
}

.notification-avator-announcement {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/NotificationAnnouncement.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  margin-left: -4px !important;
  height: 30px !important;
  width: 30px !important;
}

.notification-avator-error {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/ErrorNotification.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 90% !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  margin-left: -4px !important;
  height: 32.5px !important;
  width: 32.5px !important;
}

.notification-avator-cashflow {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/CashRoll.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  margin-left: -4px !important;
  height: 30px !important;
  width: 30px !important;
}

.dialog-avatar-cashout {
  margin-top: -10px !important;
  margin-bottom: 20px !important;
  margin-left: 20px !important;
  background-color: #0070E0 !important;
  font-size: 14px !important;
  height: 55px !important;
  width: 55px !important;
}

.dialog-body {
  font-family: WhitneyHTF-Book;
  font-size: 18px;
  color: #25265E;
  letter-spacing: 0;
  text-align: center;
  min-height: 390px;
  background: #f7f8fb;
  padding: 34px;
}

.simple-select{
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.12);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
    border: 1.4px solid #d8d7d7b3;
    padding: 0px 15px;
    margin-top: 10px;
}

.simple-select div{
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: #25265E;
  letter-spacing: 0;
  line-height: 25px;
}


.MuiMenuItem-root-0304, li {
  font-family: WhitneyHTF-Book !important;
  color: rgb(37,38,94) !important;
  width: auto;
  height: 24px;
  overflow: hidden;
  font-size: 1rem;
  box-sizing: content-box;
  font-weight: 400;
  line-height: 1.5em;
  white-space: nowrap;
  padding-left: 16px;
  text-overflow: ellipsis;
  padding-right: 16px;
}

.MuiButton-root {
  transition: none !important;
  color: #0070E0 !important;
  background-color: transparent !important; 
}

.select-wrapper{
    margin-top:0px;
}
.trans-detail {
  letter-spacing: 0.5px;
  font-size: .8rem;
  color: #25285c;
}
.trans-table td {
  font-family: WhitneyHTF-Book;
  font-size: 12px;
  color: #4E566D;
  letter-spacing: 0;
  padding: 7px 0px;
  text-transform: capitalize;
}
/* 
.sentence-case {
  text-transform: capitalize;
} */

/* .sentence-case::first-letter {
  text-transform: uppercase;
} */

.caps {
  text-transform: uppercase !important;
}

.customer-detail {
  margin-top: 40px;
}

.trans-table td+td{
  font-family: WhitneyHTF-Medium;
  font-size: 12px;
  color: #25265E;
  letter-spacing: 0.5px;
  padding-left: 30px;
}

.trans-head h1{
  font-family: WhitneyHTF-Book !important;
  font-size: 34px;
  font-weight: normal;
  color: #25265E;
  letter-spacing: 0;
  line-height: 0;
}

.detail-table {
  border: none;
}
td:nth-child(n) {
  /* your stuff here */
}
.tran-card-title {
  font-family: WhitneyHTF-Medium;
  font-size: 12px;
  color: #25265E;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.tran-card-title-cashout {
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: #25265E;
  letter-spacing: 0.67px;
}

.blue-button {
  background: #0070E0 !important;
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  border-radius: 4px !important;
  margin-left: 20px !important;
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: capitalize !important;
  float: right;
  width: 200px;
}
.small-blue-button {
  background: #0070E0 !important;
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  border-radius: 4px !important;
  margin-left: 20px !important;
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: capitalize !important;
  float: right;
  width: 70px;
}


.blue-button-api {
  background: #0070E0 !important;
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  border-radius: 4px !important;
  margin-left: 20px !important;
  margin-right: -80px !important;
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: capitalize !important;
  float: right;
  width: 200px;
}

.blue-button-cashout {
  background: #0070E0 !important;
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  border-radius: 4px !important;
  margin-left: 20px !important;
  margin-right: -80px !important;
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: capitalize !important;
  float: right;
  width: 200px;
}

.back-button {
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: #4E566D;
  letter-spacing: 0;
  cursor: pointer;
  padding-left: 30px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  margin: 20px 20px 10px 0px;
  min-width: 1px;
  min-height: 40px;
}

.recent-trans-card {
  margin-right: 20px;
}

.text-black {
  color: #000 !important;
}

.text-paleblue {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: #4E566D !important;
  letter-spacing: 0;
  text-align: center;
}

.dialog-btn-sec {
  margin-top: 40px;
  margin-bottom: 20px;
}

.text-blue {
  font-family: WhitneyHTF-Medium;
  font-size: 14px !important;
  letter-spacing: 0.2px;
  color: #0070E0 !important;
  text-transform: capitalize;
}

.text-white {
  color: #FFFFFF !important;
}

.text-blue-api{
  font-family: WhitneyHTF-Medium;
  font-size: 14px !important;
  letter-spacing: 0.2px;
  color: #0070E0 !important;
}

.MuiMenuItem-root-0373, li {
  font-family: WhitneyHTF-Medium !important;
  font-size: 16px !important;
  color: #25265E !important;
}

.option-menu [class*="MuiMenu-paper"]{
  margin-left: -50px;
  margin-top: 30px;
  box-shadow: 0 0 2px 0 rgba(0,112,224,0.15);
}

.select-wrapper [class*="MuiInput-underline"]:before{
  border-bottom: none !important;
}
.select-wrapper [class*="MuiInput-underline"]:before{
  border-bottom: none !important;
}

.select-wrapper [class*="MuiInput-underline"]:after{
  border-bottom: none !important;
}

.option-menu [class*="MuiList-padding"]{
  padding-top: 0px;
  padding-bottom: 0px;
  /* border-top: .6px solid #E1E3EC; */
}

.option-menu [class*="MuiList-padding"] li {
  border-bottom: 1px solid #E1E3EC;
}

.option-menu [class*="MuiList-padding"] li:last-child {
  border: none;
}

.option-menu [class*="MuiPopover-paper"] {
  border-radius: 9px !important;
}

.filter-btn {
  position: relative;
}

.filters {
  margin-top: 10px;
  margin-left: 20px;
  padding: 0px;
  border-radius: 9px;
}

.MuiTypography-body1-0260 {
  font-family: WhitneyHTF-Medium !important;
  font-size: 16px !important;
  color: #25265E !important;
}

.paper {
  position: absolute;
    top: 36px;
    left: 0px;
    width: 150px;
    float: left;
    text-align: left;
}

.fake {
  background-color: #80808063;
  border-radius: 6px;
    height: 10px;
    margin: 10px;
}
.fake:nth-child(2) {
  margin-right: 10px;
}
.dialog-btn {
  height: 44px;
  width: 140px;
}

.cashout-btn {
  width: 200px
}

.text-date-amount {
  font-family: WhitneyHTF-Medium;
  font-size: 14px !important;
  color: #4E566D !important;
  letter-spacing: 0.2px;
  margin-top: -1px !important;
}

.bg-white {
  background: #ffffff !important;
  background-color: #ffffff !important;
}

.bg-black {
  background: #000 !important;
  background-color: #000 !important;
}

.offset-top-neg-13 {
  margin-top: -25px;
}

.bg-blue {
  background: #0070E0;
}

.table-title {
  font-family: WhitneyHTF-Medium;
  font-size: 12px;
  color: #25265E;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline;
  padding: 10px 0px 0px 24px;
}

.data-table {
  margin-top: 0px;
}

.tab-active {
  color: #25265E !important;
}

.tab-menu {
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: rgba(78, 86, 109, 0.62);
  letter-spacing: 0;
  display: inline-block;
  padding: 0 20px;
  font-size: 1rem;
  color: #9aa0ac;
  cursor: pointer;
  text-transform: capitalize;
}

.tab-menu-settings {
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: rgba(78, 86, 109, 0.62);
  letter-spacing: 0;
  display: inline-block;
  padding: 12.5px 20px;
  font-size: 1rem;
  color: #9aa0ac;
  text-transform: capitalize;
}

.text-location {
  font-family: WhitneyHTF-Medium;
  font-size: 14px !important;
  color: #4E566D !important;
  letter-spacing: 0.2px;
}

.MuiInput-underline-059:before {
  border-bottom: none !important;
}

.MuiInput-underline-059:after {
  border-bottom: none !important;
}

.simple-select div:focus {
  background: none;
}

.table {
  background-color: white;
  width: 100%;
  min-width: 680px;
  overflow: auto;
  /* overflow-y: */
}
.tabs{
  min-width: 350px;
}

.home-cards .card{
  max-width: 250px;
  min-width: 200px;
}
.home-cards {
  max-width: 99vw;
}
.swipe-area {
  min-width: 880px;
}
.home-cards {
  width: 100%;
}

.recent-trans-card{
  min-width: 680px;
}
.radio svg {
  fill: #4E566D;
  opacity: 0.9;
}

.radio span{
  font-family: WhitneyHTF-Book;
  font-size: 16px;
  color: #4E566D;
  letter-spacing: 0;
  line-height: 22px;
}

.filters [class^="filter-item"], .filters [class*="filter-item"]
{
  border-bottom: 1px solid #E1E3EC;
  width: 100%;
  margin: 0;
}
.filters [class^="MuiFormControlLabel"], .filters [class*="MuiFormControlLabel-label"]
{
  font-family: WhitneyHTF-Medium;
  color: #25265E !important;
}
.filters [class^="MuiCheckbox-root"], .filters [class*="MuiCheckbox-root"]
{
  color: #E1E3EC !important;
}
.filters [class^="MuiCheckbox-checked"], .filters [class*="MuiCheckbox-checked"]
{
  color: #0070E0 !important;
}

.MuiListItem-button-0166:hover{
  background-color: #FFFFFF !important;
}

.MuiTouchRipple-child-086 {
  background-color: #0070E0 !important;
}

.filter-head{
  font-family: WhitneyHTF-SemiBold;
  font-size: 14px;
  color: #25265E;
  line-height: 25px;
  background: #F7F8FB;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 45px;
  padding: 10px 15px;
}

[class^="MuiRadio-checked"] +span, [class*=" MuiRadio-checked"] +span
{
  font-family: WhitneyHTF-Medium;
  color: #25265E !important;
}
  
[class^="MuiRadio-checked"] svg, [class*=" MuiRadio-checked"] svg
{
  fill: #0070E0;
}

.radio label{
  height: 36px;
}

.table tr,
.table th,
.table td {
  border-bottom: 1px solid #F2F2F2 !important;
  text-align: left;
}

.table-cell {
  color: #4E566D !important;
}

.more-icon {
  display: inline-flex;
  justify-content: flex-end;
}

.date-box {
  display: inline-flex;
}

.avatar-blue {
  background-color: #0070E0 !important;
  font-size: 12px !important;
}

.avatar-recent {
  max-width: 30px;
  max-height: 30px;
  background-color: #0070E0 !important;
  font-size: 12px !important;
  text-align: center;
  text-transform: uppercase;
}

.right-arrow {
  margin-left: 7.2px;
  margin-right: 7.2px;
}

.filtericon {
  margin-left: -5px;
  margin-right: 5px;
}

.date {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: #4E566D;
  display:inline-flex;
}

.load-more {
  font-family: GoogleSans-Medium;
  font-size: 14px;
  color: #0070E0;
  letter-spacing: 0;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.load-arrow {
  border-radius: 50%;
  background-color: #0070E0;
  cursor: pointer;
  margin: 0 6px;
}

.down-arrow {
  height: 5px;
  width: 14px;
  display: inline-flex;
  margin: 2.5px 2px;
}

.avatar {
  font-family: WhitneyHTF-Book !important;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  display: inline-flex !important;
  margin-right: 15px;
}

.data-table-title {
  padding: 20px 20px 20px 0px;
}

.last-row,
.last-row th,
.last-row td {
  border-bottom: none !important;
}

.head-row {
  font-family: WhitneyHTF-Medium;
  font-size: 12px;
  color: #25265E;
  letter-spacing: 1px;
  height: 33px !important;
  background: #f7f8fb !important;
  border: 1px solid #F2F2F2;
}

.transactions-head-row {
  height: 40px !important;
}

.head-row th,
.head-row td {
  background: #F7F8FB;
  color: #25265E !important;
  text-transform: uppercase;
  text-align: left;
}

.card-title {
  font-family: WhitneyHTF-Medium;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-bottom: 1.1px solid rgb(255, 255, 255, 0.4);
  color: #25285d;
  text-transform: uppercase;
  border-bottom: .8px solid #00000010;
  padding: 10px 0px 13px;
}

.card-options {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/MoreGrey.svg);
  background-repeat: no-repeat;
  background-position: 88% 16%;
}


.card-title-blue {
  font-family: WhitneyHTF-Medium;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  border-bottom: 1.1px solid rgb(255, 255, 255, 0.4);
}

.card-content {
  font-size: .65rem;
  font-weight: 300;
  padding-top: 20px !important;
}

.card-body {
  font-family: WhitneyHTF-Book;
  font-size: 12px;
  letter-spacing: 0;
  padding-top: 24px;
  font-weight: 530;
  color: #152e55cf;
  text-transform: capitalize;
}

.amount-container {
  overflow: visible !important;
  margin: 20px 0;
}

.amount-card {
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 13.5px;
}

.cashout-dial-txt {
  font-size: 1.1rem;
  width: 240px;
  justify-content: center;
  margin: 0px auto;
}

.cashout-label {
  font-family: WhitneyHTF-Book;
  margin-top: 24px;
  font-size: .9rem;
  display: block;
}

.forgot-password {
  font-family: WhitneyHTF-Book !important;
  color: #FFF !important;
  text-decoration: none !important;
}

.forgot-password-cashout {
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: #0070E0;
  letter-spacing: 0;
  /* padding: 75px 0px; */
  margin-top: 25px;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  margin-right: 55%;
}

.dialog-password {
  font-family: WhitneyHTF-Book !important;
  font-size: 14px !important;
  color: #25265E;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;
}

.dialog-enter-details {
  font-family: WhitneyHTF-Book !important;
  font-size: 14px !important;
  color: #25265E;
  letter-spacing: 0;
  text-align: left;
  text-transform: capitalize;  
}

.margin-zero {
  margin: 0px !important;
}

.bg-white {
  background: #fff;
}

.simple-input {
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: #25265E;
  letter-spacing: 0;
  line-height: 25px;
  background: #fff;
  border: 1.4px solid #d8d7d7b3;
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: 6% 50%;
  padding-left: 16px;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

.simple-input[name="firstname"] {
  text-transform: capitalize;
}

.simple-input[name="lastname"] {
  text-transform: capitalize;
}

.simple-input[name="bankname"] {
  text-transform: capitalize;
}

.simple-input[name="bankbranch"] {
  text-transform: capitalize;
}

.simple-input[name="username"] {
  text-transform: capitalize;
}

.simple-input[name="usercity"] {
  text-transform: capitalize;
}

.simple-input[name="usercountry"] {
  text-transform: capitalize;
}


.amount-card-title {
  font-family: WhitneyHTF-Book;
  font-size: 10px;
  color: #4E566D;
  letter-spacing: 0;
}

.more-card {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: #25265E;
  letter-spacing: 0;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.card-button {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  text-align: center;
  padding: 10px 20px;
  float: right;
  margin-bottom: 10px;
  margin-top: -7px;
  cursor: pointer;
}

.calendar-icon {
  margin-left: 7.2px;
  margin-right: 7.2px;
}

.calendar-root [class*="Calendar-weekDay"]{
  padding: 0 !important;
}

.MuiIconButton-root-85 {
  color: #0070E0 !important;
}

.calendar-root {
  outline: none;
  border-radius: 12px !important;
  box-shadow: 0 2px 15px 0 rgba(0,112,224,0.15) !important;
  position: absolute;
  min-width: 16px;
  max-width: 235px !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
  min-height: 16px;
  max-height: 268px !important;
  margin-top: 50px !important;
  margin-left: -14px;
}

.calendar-root-to:after {
	content: '';
	position: absolute;
	top: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -10px;
  margin-top: -12px;
  z-index: -1;
}

.calendar-root-from:after {
	content: '';
	position: absolute;
	top: 0;
	left: 8%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -10px;
  margin-top: -12px;
  z-index: -1;
}


.container-padded {
  padding: 24px;
}

.file-upload {
  padding: 20px 54px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.upload-icon {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  cursor: pointer;
}

.upload-info {
  font-family: WhitneyHTF-Medium;
  font-size: 10px;
  color: #2B2D50;
  letter-spacing: -0.21px;
  text-align: center;
  text-transform: capitalize;
}

.upload-highlite {
  font-family: WhitneyHTF-Bold;
  color: #2B2D50;
  letter-spacing: -0.25px;
  text-align: center;
  text-transform: capitalize;
}
.drag-zone {
  padding: 40px 50px;
  border: dashed 2px #00B3FF;
}

.upload-save {
  margin-top: 10px;
  margin-bottom: 80px;
}

.upload-text {
  font-family: WhitneyHTF-Medium;
  font-size: 10px;
  color: #2B2D50;
  letter-spacing: -0.21px;
  text-align: center;
  text-transform: capitalize;
}

.card-button-transactions {
  color: #4E566D !important;
  padding: 15px 15px !important;
  margin-bottom: -10px !important;
  margin-top: -5px !important;
}

.card-button-customers {
  color: #4E566D !important;
  padding: 15px 15px !important;
  margin-bottom: 15px !important;
  margin-top: -5px !important;
}

.card-button:active {
  /* transform: scale(1.05, 1.05); */
}

.margin-left-20 {
  margin-left: 20px;
}

.recent-trans-card {
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  min-height: 322px;
}

.amount-card-amt {
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: #25265E;
  letter-spacing: 0.73px;
  padding: 6px 0;
}

.padding-left-8 {
  padding-left: 8px;
}

.money-flow {
  min-width: 64px;
  min-height: 36px;
  color: #152e55cf;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #F2F2F2;
  text-transform: capitalize;
}

.money-flow .period {
  font-family: WhitneyHTF-Book;
  font-size: 8px;
  color: #4E566D;
  letter-spacing: 0;
}

.border-left {
  border-left: .8px solid #00000010;
}

.text-green {
  font-family: WhitneyHTF-Medium;
  /* font-size: 10px; */
  color: #4BB543 !important;
  letter-spacing: 0;
}

.text-red {
  font-family: WhitneyHTF-Medium;
  /* font-size: 10px; */
  color: #FF3B30 !important;
  letter-spacing: 0;
}
.big {
  font-size: 20px;
}

.padding-16 {
  padding: 7px;
}

.full-width {
  width: 100%;
}

.button-text {
  font-family: WhitneyHTF-Medium !important;
  font-size: 16px;
  color: #25265E;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize
}

.upload-btn {
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px;
  color: #FFFFFF !important;
  letter-spacing: 0;
  background: #0070E0;
}

.refund-btn {
  background: #0070E0 !important;
  -webkit-box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  box-shadow: 0 0 2px 0 rgba(37,38,94,0.12), 0 2px 4px 0 rgba(37,38,94,0.15) !important;
  border-radius: 4px !important;
  margin-right: 20px !important;
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  text-transform: capitalize !important;
  float: right;
  height: 44px;
  width: 100%;
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px;
  color: #FFFFFF !important;
  letter-spacing: 0;
  background: #0070E0;
  margin-left: 6px !important;
}

.refund-highlite{
  font-family: WhitneyHTF-Medium !important;
  font-size: 22px;
  color: #25265E;
  letter-spacing: 1px;
  margin-top: 2;
}

.refund-head {
  font-family: WhitneyHTF-Medium !important;
  font-size: 12px;
  color: #4E566D !important;
  letter-spacing: 0;
  margin-bottom: 0;
  margin-top: -10px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.refund-dialog-body hr {
  border: 0.5px solid rgba(78,86,109,0.12);
}

.refund-dialog-body {
  min-height: 200px !important;
  text-align: left;
}

.refund-detail {
  margin-top: 0;
}
.refund-detail p {
  font-family: WhitneyHTF-Book;
  font-size: 16px;
  color: #4E566D;
  letter-spacing: 0;
}

.refund-input {
  margin-top: 0 !important;
  height: 44px;
}

.refund-customer-name{
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: #25265E;
  letter-spacing: 0;
}
.refund-customer-phone {
  font-family: WhitneyHTF-Book;
  font-size: 16px;
  color: #25265E;
  letter-spacing: 0;
}

.text-white-button {
  font-family: WhitneyHTF-Medium !important;
  font-size: 14px;
  color: #FFFFFF !important;
  letter-spacing: 0;
  text-align: center;
}

.card-amount {
  font-family: WhitneyHTF-Medium;
  font-size: 22px;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #25285d;
}

.summary-card {
  height: 210px;
}

.search {
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  min-width: 40%;
  position: relative;
  margin-left: 80px;
}

.search-icon {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/Search.svg);
    background-repeat: no-repeat;
  background-position: 50%;
}

.search-input {
  font-family: WhitneyHTF-Book;
  font-size: 15px;
  color: #73767F !important;
  letter-spacing: 0.17px;
  caret-color: #00000088;
}

.nav-logo {
  height: 64px;
  padding: 15px 25px;
}

.nav {
  position: fixed;
  z-index: 999;
}

.nav>header {
  box-shadow: 3px -8px 8px 5px rgba(0, 0, 0, 0.2), 0px 4px 0px 0px rgba(0, 0, 0, 0.0), 0px 1px 7px 0px rgba(0, 0, 0, 0.12) !important;

}

.sidenav-badge {
  background: #FFFFFF;
  padding-right: 12px;
}

.sidenav-badge>span {
  font-family: WhitneyHTF-SemiBold;
  font-size: 10px;
  color: #61045F !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 0;
  background: #FFFFFF !important;
}

.sidebar hr {
  margin: 15px 10px 30px !important;
  position: relative;
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: .6px solid #ffffff3b;
  text-align: center;
}

.home-date {
  font-family: WhitneyHTF-Book;
  font-size: 24px;
  color: #25265E;
  letter-spacing: -0.69px;
  margin-bottom: 10px;
}

.topNav {
  background: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  background: transparent !important;
}

.topnav-badge {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/Notifications.svg);
    background-repeat: no-repeat;
  background-position: 0 50%;
}

.dropdown-icon {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/Dropdown.svg);
    background-repeat: no-repeat;
  background-position: 92% 50%;
}

.MuiSelect-icon-0154 {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/GreyDropdown.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}

.topnav-badge>span {
  font-family: WhitneyHTF-Book;
  font-size: 10px;
  color: #FFFFFF !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 0;
  background: #FF3B30 !important;
  position: relative;
}

.content-area {
  background-color: #f7f8fb;
  padding: 4.5% 7% 0px;
}

.content-body {
  padding-top: 64px;
  min-height: 100%;
  overflow: auto;
  background: #f7fbfb;
}

.refund-card {
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(37, 38, 94, 0.12), 0 2px 2px 0 rgba(37, 38, 94, 0.15);
  border-radius: 4px;
  height: auto;

}
.refund-section {
  max-width: 250px;

}

.refund-date {
  font-family: WhitneyHTF-Book;
  font-size: 8px;
  color: #4E566D;
  letter-spacing: 0;
}

.refund-close {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/Close.svg);
  background-repeat: no-repeat;
  background-position: 92.5% 22.5%;
}

.spacer {
  flex: 0 0 auto;
}

.top-nav-allowance {
  width: 100%;
  position: fixed;
  height: 65px;
  margin-top: -65px;
  background: #fff;
  z-index: 1;
}

.nav-button {
  width: auto !important;
  border-radius: 2px;
}

.nav-button:hover {
  border-radius: 2px;
}

.nav-button div.label {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: #25265E;
  letter-spacing: 0.14px;
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

.sidenav-button {
  width: 100% !important;
  border-radius: 4px !important;
  justify-content: flex-start !important;
  margin: 10px auto !important;
  padding-left: 10px !important;
}

.nav-button {
  border-radius: 0px !important;
  height: 64px !important;
}

.nav-button:hover {
  border-radius: 0px !important;
}

.topnav-acc {
  border-left: .6px solid #0000001a !important;
  border-radius: 0px !important;
}

.sidenav-button:hover,
.active-nav {
  font-family: WhitneyHTF-Medium;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  border-radius: 4px;
  background: #ffffff33 !important;
}

.sidenav-button:hover div,
.sidenav-button:hover img,
.active-nav div {
  font-family: WhitneyHTF-Book;
  font-size: 16px;
  color: #FFFFFF !important;
  letter-spacing: 0;
}

.sidenav-button div.label {
  font-family: WhitneyHTF-Book;
  font-size: 16px;
  letter-spacing: 0;
  text-align: left;
  display: inline-block;
  padding-left: 15px;
  color: #ffffff8a;
}

.sidenav-button div.label>span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  right: -35%;
  opacity: 1 !important;
}

.topnav-v-line {
  display: inline-block;
  margin-left: 24px;
  width: 24px;
  border-right: 1px solid #F2F2F2;
  height: 64px;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0.35;
}

.dashboard-input {
  font-family: WhitneyHTF-Medium;
  font-size: 18px;
  color: white;
  letter-spacing: 0;
  padding-left: 56px;
  opacity: 0.35;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: 47px;
  background: transparent;
  margin-top: 15px;
}

.dashboard-input[name="firstname"] {
  text-transform: capitalize;
}

.dashboard-input[name="lastname"] {
  text-transform: capitalize;
}

input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.dashboard-input:focus {
  opacity: 2;
  outline: none;
  caret-color: #FFFFFF;
}

.input-line {
  background: #FFFFFF;
  width: 0.5px;
  height: 47px;
  opacity: 0.35;
  opacity: 2;
  outline: none;
  caret-color: #FFFFFF;
}

@-webkit-keyframes autofillemail {
  to {
      color: #FFFFFF;
      background: transparent;  
      background-repeat: no-repeat;
      background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/username.svg);
      background-size: 7%;
      background-position: 6% 50%;
  }
}

@-webkit-keyframes autofillpassword {
  to {
      color: #FFFFFF;
      background: transparent; 
      background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/password.svg);
    background-repeat: no-repeat;
  background-size: 6%;
  background-position: 6% 50%;
  }
}

input[name="email"]:-webkit-autofill {
  -webkit-animation-name: autofillemail;
  -webkit-animation-fill-mode: both;
}
input[name="password"]:-webkit-autofill {
  -webkit-animation-name: autofillpassword;
  -webkit-animation-fill-mode: both;
} 

i.vline {
  display: block;
  margin-top: -47px;
  margin-left: 48px;
  border-left: 1px solid #FFFFFF;
  height: 46px;
  width: 0.5px;
  opacity: 0.35;
}

.icon-username {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/username.svg);
    background-repeat: no-repeat;
  background-size: 7%;
  background-position: 6% 50%;
}

.icon-phone {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/phone-number-icon.svg);
    background-repeat: no-repeat;
  background-size: 5.5%;
  background-position: 7% 50%;
}

.icon-email {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/email-address-icon.svg);
    background-repeat: no-repeat;
  background-size: 7%;
  background-position: 6% 50%;
}

.icon-password {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/password.svg);
    background-repeat: no-repeat;
  background-size: 6%;
  background-position: 6% 50%;
}

.password-vision {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/passwordicon.svg);
    background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 30px;
  height: 47px;
  margin-top: -45px;
  margin-left: 87%;
  opacity: 0.35;
  cursor: pointer;
}

.shown {
  opacity: 0.99;
}

.spk-card input::-ms-clear {
  display: none;
}

::-webkit-input-placeholder {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
  letter-spacing: 0;
}

::-moz-placeholder {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
  letter-spacing: 0;
}

:-moz-placeholder {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
  letter-spacing: 0;
}

.placeholder {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
  letter-spacing: 0;
  padding: 17% 15%;
}

.landing {
  min-width: 100vw;
  color: #FFF;
  font-size: 14px;
}

.spekra-logo {
  width: 50%;
  margin-bottom: 25%;
}

.title {
  font-family: WhitneyHTF-SemiBold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-bottom: -5%;
}

.title-text {
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.sub-title {
  font-family: WhitneyHTF-Medium;
  font-size: 12px;
  color: #4E566D;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}

.forgot-password a {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-decoration: none;
}


.login-link {
  margin-top: 40px;
  text-align: left;
  vertical-align: center;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.signup-purple-btn {
  margin-top: 26px;
  background: #AA076B;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: 100%;
  height: 47px;
  border: 0px;
  font-family: WhitneyHTF-SemiBold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.17px;
  text-align: center;
  outline: none !important;
  -webkit-appearance: none;
  outline-color: transparent;
  cursor: pointer;
  will-change: transform;
  transition: all 0.2s ease-in-out;
}
.login-btn-desktop {
  width: 120px;
}
.login-btn {
  background: #AA076B;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  
  height: 47px;
  border: 0px;
  font-family: WhitneyHTF-SemiBold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.17px;
  text-align: center;
  position: relative;
  margin-top: -15px;
  outline: none !important;
  -webkit-appearance: none;
  outline-color: transparent;
  cursor: pointer;
  will-change: transform;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.login-btn-purple {
  background: #AA076B;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-family: WhitneyHTF-SemiBold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.17px;
  text-align: center;
  height: 47px;
  outline: none;
  border: 0px;
  float: right;
  outline: none !important;
  -webkit-appearance: none;
  outline-color: transparent;
  cursor: pointer;
  will-change: transform;
  transition: all 0.2s ease-in-out;
}

*:focus {
  outline: none;
}

.signup-btn {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-family: WhitneyHTF-SemiBold;
  font-size: 14px;
  color: #25265E;
  letter-spacing: 1.17px;
  text-align: center;
  height: 47px;
  outline: none;
  cursor: pointer;
}

.landing-form {
  padding-top: 25%;
  /* max-width: 70.5%; */
}

.dashboard-footer {
  font-family: WhitneyHTF-Book;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  /* margin-top: 30px; */
  margin: 30px auto;
  /* padding-left: 40px; */
  /* bottom: 50px; */
  /* position: absolute; */
}

hr.dashboard-or  {
  margin-top: 50px;
  margin-bottom: 30px;
}

hr.dashboard-or {
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: 1.45px dashed rgba(255, 255, 255, 0.50);
  text-align: center;
}

hr.dashboard-or::after {
  content: "OR";
  display: inline-block;
  position: relative;
  top: -10px;
  font-size: 8px;
  padding: 0 30px;
  background: rgb(95, 12, 93);
  font-family: GoogleSans-Medium;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.indicator-area {
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.indicator {
  opacity: 0.25;
  background: #FFFFFF;
  border-radius: 5.5px;
  display: inline-block;
  height: 3px;
  width: 30px;
  margin: 2px;
  opacity: 0.35;
  cursor: pointer;
}

.active {
  background: #FFFFFF;
  border-radius: 3px;
  opacity: 2;
}

.hidden {
  display: none;
}

.carousel-body {
  position: absolute;
  margin-top: 30%;
  margin-left: 80px;
  overflow-wrap: break-word;
  margin-right: 80px;
}

.carousel-highlite {
  font-family: WhitneyHTF-Medium;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: -0.46px;
  text-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
}

.chang-pass {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  color: #25265E;
  letter-spacing: 0;
}

.spinner {
  width: 25px;
  height: 25px;

  border: 3px solid #FFFFFF;
  border-top: 3px solid #AA076B;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 0.6s infinite linear;
}

.formErrors p {
  font-family: WhitneyHTF-Medium;
  font-size: 14px;
  letter-spacing: 0;
  color: #FF3B30;
  line-height: 1;
  text-transform: capitalize;
}



.loader {
  height: 80px;
  width: 80px;
}

.spinner2 {
  animation: spin 1.5s linear infinite;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 15px 15px 0;
  border: 2px solid #1f94ed;
  border-radius: 50%;
}

.spinner2:after {
  content: "";
  width: 85%;
  height: 85%;
  background: -webkit-linear-gradient(45deg, white 0%, white 40%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5%, -5%);
}

.spinner2.moon {
  border-left: 0;
  border-top: 0;
}
.spinner2.moon:after {
  display: none;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





.notifcations-close-icon {
  background-image: url(https://s3.amazonaws.com/dash-user-dashboard/images/CloseNotification.svg);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 20px 20px;
  display: inline-flex;
  float: right;
  margin-right: 75px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.notification-bar-msg {
  display:inline-flex;
  float: left;
  padding: 15px 75px
}

.notifications {
  width: 100vw;
  min-height: 50px;
  position: fixed;
  background: #4BB543;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,0.24);
  font-family: WhitneyHTF-Book;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: left;
  top: 0;
  left: 0;
  z-index: 9999;
}


  .notifications > p {
    margin: 0 0 10px 0;
    font-weight: bold;}
  
  .notifications > p a {
    color: #332b17;
    text-decoration: none;}
.notifications.display {
  display: block;

  /* Cross browser animation */
  -webkit-animation: notifications 1s 1; /* Chrome, Safari 5+ */
     -moz-animation: notifications 1s 1; /* Firefox 5-15 */
      -ms-animation: notifications 1s 1; /* IE9 */
       -o-animation: notifications 1s 1; /* Opera 12.00 */
          animation: notifications 1s 1; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */}

@keyframes notifications {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes notifications {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-moz-keyframes notifications {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-o-keyframes notifications {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}













.spk-date-picker {
  display: inline-flex;
  position: relative;
}
.spk-date-picker,
.spk-date-picker *,
.spk-date-picker *:before,
.spk-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.spk-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.spk-date-picker__wrapper {
  display: flex;
  /* border: thin solid gray; */
}
.spk-date-picker__inputGroup {
  min-width: calc((4px * 3) +  4.32em  +  0.434em);
  flex-grow: 1;
  display: flex;
  padding: 0 2px;
  align-items: baseline;
  box-sizing: content-box;
}
.spk-date-picker__inputGroup__divider {
  padding: 1px 0;
}
.spk-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.spk-date-picker__inputGroup__input::-webkit-outer-spin-button,
.spk-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.spk-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.spk-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em);
}
.spk-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.spk-date-picker__button:enabled {
  cursor: pointer;
}
.spk-date-picker__button:enabled:hover svg g,
.spk-date-picker__button:enabled:focus svg g {
  stroke: #0078d7;
}
.spk-date-picker__button:disabled svg g {
  stroke: #6d6d6d;
}
.spk-date-picker__button svg {
  display: inherit;
}
.spk-date-picker__calendar {
  width: 240px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.spk-date-picker__calendar--closed {
  display: none;
}
.spk-date-picker__calendar--above-label {
  bottom: 100%;
  top: auto;
}
.spk-date-picker__calendar .react-calendar {
  border-width: thin;
}



.react-calendar {
  width: 260px;
  border-radius: 12px;
  max-width: 100%;
  background: white;
  box-shadow: 0 8px 23px 0 rgba(0,112,224,0.15) !important;
  /* box-shadow: 0 2px 15px 0 rgba(0,112,224,0.15) !important; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  z-index: 2;
  color: #25265e;
  padding: 10px;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  color: #25265e;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 30px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color: #25265e;
  font-weight: 700;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
/* react-calendar__tile */
.react-calendar__month-view__days__day{
  color: #141551;
}
.react-calendar__month-view__days__day--weekend {
  /* color: red; */
  color: #141551;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #969696 !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 34.28px;
  max-height: 30px;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  border-radius: 6px;
  flex-basis: 36px !important;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: #fff !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}